body {
 padding-top: 60px;
}

.footer {
 text-align: center;
}

footer {
 padding-top: 30px;
 box-shadow: inset 0 20px 20px -20px rgba(0,0,0,.3);
}

#songlist {
 padding: 10px;
 margin-top: -20px;
 -margin-bottom: 20px;
 -box-shadow: 0px 0px 10px rgba(0,0,0,.5);
 box-shadow-bottom: 0px 0px 10px rgba(0,0,0,.5);
 line-height: 1.2em;
}

#songlist > div {
 cursor: pointer;
 padding: 0.5em 0;
}

#dropnav {
 display: none;
}

#ilogo {
 background-image: url("/public/images/favicon.png")
}

@media (max-width:480px) {

	#logo, #tabnav {
	 display: none;
	}

	#dropnav {
	 display: block;
	}
}
