#{extends 'main.html' /}
#{set title:'HyperJoy検索' /}

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
	    <a id="logo" class="brand" href="@{index()}">HyperJoy検索</a>

<ul id="tabnav" class="nav">
  <li class="${request.actionMethod == 'anime' ? 'active' : ''}"><a href="@{anime(keyword)}">アニメ</a></li>
  <li class="${request.actionMethod == 'vocaloid' ? 'active' : ''}"><a href="@{vocaloid(keyword)}">ボカロ</a></li>
  <li class="${request.actionMethod == 'toho' ? 'active' : ''}"><a href="@{toho(keyword)}">東方</a></li>
</ul>

<ul id="dropnav" class="nav">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">HyperJoy検索 <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="@{anime(keyword)}">アニメ</a></li>
      <li><a href="@{vocaloid(keyword)}">ニコ動</a></li>
      <li><a href="@{toho(keyword)}">東方</a></li>
*{
      <li class="divider"></li>
      <li><a href="#hot">新曲</a></li>
}*
    </ul>
  </li>
</ul>

#{if request.actionMethod == 'anime'}
#{form @anime(), class:'navbar-search pull-left'}
#{field 'keyword'}
<input type="text" class="search-query span2" placeholder="キーワード" name="${field.name}" value="${field.value}">
#{/field}
#{/form}
#{/if}
#{elseif request.actionMethod == 'vocaloid'}
#{form @vocaloid(), class:'navbar-search pull-left'}
#{field 'keyword'}
<input type="text" class="search-query span2" placeholder="キーワード" name="${field.name}" value="${field.value}">
#{/field}
#{/form}
#{/elseif}
#{elseif request.actionMethod == 'toho'}
#{form @toho(), class:'navbar-search pull-left'}
#{field 'keyword'}
<input type="text" class="search-query span2" placeholder="キーワード" name="${field.name}" value="${field.value}">
#{/field}
#{/form}
#{/elseif}
#{else}
#{form @index(), class:'navbar-search pull-left'}
#{field 'keyword'}
<input type="text" class="search-query span2" placeholder="キーワード" name="${field.name}" value="${field.value}">
#{/field}
#{/form}
#{/else}

    </div>
  </div>
</div>

#{ifnot keyword}
<div class="alert alert-info">
<a class="close">&times;</a>
<p>曲数：${total} 件</p>
</div>
#{/ifnot}
#{else}
#{if songs?.size == 0}
<div class="alert alert-error">
<a class="close">&times;</a>
<p>キーワード：${keyword}</p>
曲が見つかりません。
</div>
#{/if}
#{else}
<div class="alert alert-success">
<a class="close">&times;</a>
<p>キーワード：${keyword}</p>
<p>曲数：${total} 件中 ${songs?.size} 件</p>
*{<p>${request.action}</p>}*
*{<p>${request.actionMethod}</p>}*
</div>
#{/else}
#{/else}

<div id="songlist">
	#{list songs, as:'song'}
		<div data-tid="${song.tid}" data-title="${song.title?.raw()}" data-artist="${song.artist?.raw()}">
			<span>${song.tid}</span>
			<span class="${song.isHot ? 'label label-important' : ''}">${song.isHot ? '新' : ''}</span>
			<span>${song.hot}</span>
			<span class="${song.isMedley ? 'label label-success' : ''}">${song.isMedley ? 'メドレー' : ''}</span>
			<span>${song.title?.raw()}</span>
			<span>${song.artist?.raw()}</span>
			<span>(${song.groups?.raw()})</span>
		</div>
		*{
		<small>
			<span>${song.keywords}</span>
		</small>
		}*
	#{/list}
</div>

<!-- Google AdSense --> 
<p class="adsense"> 
<script type="text/javascript"><!--
google_ad_client = "pub-0395005400564816";
/* HyperJoy */
google_ad_slot = "3839052185";
google_ad_width = 234;
google_ad_height = 60;
//-->
</script> 
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js"> 
</script> 
</p> 

<hr>
<small class="footer">
<div>Powered by <a href="http://homepage1.nifty.com/yottoide/hyperjoy.html">HyperJoy専用曲を斬る！</a></div>
<div>Copyright &copy; 2007-2012 tarchan. All rights reserved.</div>
</small>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-158359-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
