#{extends 'main.html' /}
#{set title:'HyperJoy検索' /}

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
	    <a class="brand" href="@{Application.index()}">HyperJoy検索</a>

<ul class="nav">
  <li class="${request.action == 'Application.anime' ? 'active' : ''}"><a href="@{Application.anime()}">アニメ</a></li>
  <li class="${request.action == 'Application.vocaloid' ? 'active' : ''}"><a href="@{Application.vocaloid()}">ボカロ</a></li>
  <li class="${request.action == 'Application.toho' ? 'active' : ''}"><a href="@{Application.toho()}">東方</a></li>
</ul>

<!-- <ul class="nav">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">ジャンル <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="#anime">アニメ</a></li>
      <li><a href="#vocaloid">ニコ動</a></li>
      <li><a href="#toho">東方</a></li>
      <li class="divider"></li>
      <li><a href="#hot">新曲</a></li>
    </ul>
  </li>
</ul>
 -->

<form class="navbar-search pull-left" action="">
  <input type="text" class="search-query span2" placeholder="キーワード" name="keyword">
</form>

    </div>
  </div>
</div>

<div id="info" class="alert alert-info">
<a class="close">&times;</a>
<p>キーワード：${keyword}</p>
<p>曲数：${songs?.size}/${total}</p>
<p>${request.action}</p>
</div>

<div id="songlist">
	#{list songs, as:'song'}
		<div>
			<span>${song.tid}</span>
			<span class="${song.isHot ? 'label label-important' : ''}">${song.isHot ? '新' : ''}</span>
			<span>${song.hot}</span>
			<span class="${song.isMedley ? 'label label-success' : ''}">${song.isMedley ? 'メドレー' : ''}</span>
			<span>${song.title.raw()}</span>
			<span>${song.artist.raw()}</span>
			<span>(${song.groups.raw()})</span>
		</div>
		<!-- <small>
			<span>${song.keywords}</span>
		</small> -->
	#{/list}
</div>

<!-- Google AdSense --> 
<p class="adsense"> 
<script type="text/javascript"><!--
google_ad_client = "pub-0395005400564816";
/* HyperJoy */
google_ad_slot = "3839052185";
google_ad_width = 234;
google_ad_height = 60;
//-->
</script> 
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js"> 
</script> 
</p> 

<hr>
<small class="footer">
<div>Powered by <a href="http://homepage1.nifty.com/yottoide/hyperjoy.html">HyperJoy専用曲を斬る！</a></div>
<div>Copyright &copy; 2011-2012 tarchan. All rights reserved.</div>
</small>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-158359-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
