<!DOCTYPE html>
<html>
<head>
<meta charset="${_response_encoding}">
<title>#{get 'title' /}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.min.css'}">
#{get 'moreStyles' /}
<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
<script src="@{'/public/javascripts/jquery-1.7.1.min.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/bootstrap.min.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/main.js'}" type="text/javascript" charset="utf-8"></script>
#{get 'moreScripts' /}
</head>
<body>
#{doLayout /}
</body>
</html>
